body {
  font-family:Roboto, sans-serif;
}
.left-panel {
  background:#ccc;
}
.right-panel {
  background:#eee;
}
ul {
  background:#eee;
  margin:10px 0px;
  padding:10px 10px;
}
li {
  display:inline-block;
  padding:2px 10px;
  font-size:10px;
}
h1, h2, h3, h4, h5, h6 {
  margin:10px 0px;
}
h5 {
  margin-bottom:60px;
}