<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" *ngFor="let user of users">
        <div class="thumbnail text-center" style="align-content: center">
            <img alt="" src="https://placehold.it/150x150" style="height: 150px;">
            <div class="caption text-center">
                <h6>
                    <a>{{user.name}}</a>
                </h6>
                <p>
                    <small>{{user.company.name}}</small>
                </p>
            </div>
        </div>
    </div>
</div>